<mat-card-title class="card-title">Register</mat-card-title>
<mat-card-content>
  <form class="register-form" [formGroup]="form" (ngSubmit)="onSubmitRegister()">
    <div class="spacer">
      <mat-form-field class="two-third-width">
        <input matInput placeholder="First Name" required title="First Name" formControlName="firstName">
      </mat-form-field>
      <mat-form-field class="two-third-width">
        <input matInput placeholder="Last Name" required title="Last Name" formControlName="lastName">
      </mat-form-field>
      <mat-form-field class="two-third-width">
        <input matInput placeholder="Email" required title="Email Address" formControlName="username">
        <mat-error>
          Must have a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="two-third-width">
        <input matInput type="password" placeholder="Password" required title="Password" formControlName="password">
        <mat-error *ngIf="form.controls['password'].hasError('minlength')">
          Password must have at least 8 characters
        </mat-error>
        <mat-error *ngIf="form.controls['password'].hasError('passwordValid')">
          Password must contain at least 3 of uppercase, lowercase, punctuation, or numbers
        </mat-error>
      </mat-form-field>
      <mat-form-field class="two-third-width">
        <input matInput type="password" placeholder="Confirm Password" required title="Confirm Password" formControlName="confirmPassword">
        <mat-error *ngIf="form.controls['confirmPassword'].hasError('sameValue')">
          Passwords must match
        </mat-error>
      </mat-form-field>
    </div>
    <div class="centered-button">
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Register</button>
    </div>
  </form>
</mat-card-content>