.flex-right {
  float: right;
}

html, .full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

md-sidenav-container {
  height: 100%;
}

md-icon {
  height: 48px;
  width: 48px;
  font-size: 48px;
}

button {
  width: 49%;
  color: #E6048D;
}

.open-icon {
    color: #E6048D;
}

.selected {
  background-color: #DDD;
  left: .1em;
}

.question-body {
    white-space: pre-wrap;
    width: 600px;
    font-size: .6em;
    border-left: .375em solid #E6048D;
    padding: .5em;
}

.question-answer {
    white-space: pre-wrap;
    width: 600px;
    font-size: .6em;
    border-left: .375em solid #1384C5;
    padding: .5em;
}

.assessment-area {
  padding-left: 1em;
}

.editor {
  resize: none;
  width: 800px;
  height: 400px;
}