.flex-right {
  float: right;
}

html, .full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

md-sidenav-container {
  height: 100%;
}

md-icon {
  height: 48px;
  width: 48px;
  font-size: 48px;
}

button {
  width: 49%;
  color: #E6048D;
}

.open-icon {
    color: #E6048D;
}

.selected {
  background-color: #DDD;
  left: .1em;
}