.assessment-area {
  padding-left: 1em;
}

button {
  width: 49%;
  color: #E6048D;
}

.editor {
  resize: none;
  width: 61.42em;
  height: 25.71em;
}

.end-assessment {
  margin-top: .5em;
  width: 100%;
}

.flex-right {
  float: right;
}

.full-width {
  width: 100%;
}

html, .full-height {
  height: 100%;
}


md-sidenav-container {
  height: 100%;
}

md-icon {
  font-size: 2.5em;
  height: 1em;
  width: 1em;
}

.notes-area {
  padding-left: 1em;
  flex-direction: column;
  align-items: center;
}

.open-icon {
    color: #E6048D;
}

.question-answer {
    white-space: pre-wrap;
    width: 61.42em;
    font-size: .6em;
    border-left: .375em solid #1384C5;
    padding: .5em;
}

.save-notes {
  width: 12.85em;
  margin-top: 1em;
}

.selected {
  background-color: #DDD;
  left: .1em;
}

//TODO
// .sidenav-bottom {  
// }

//TODO
// .flex-down {
// }