<div class="flex-container-column full-height">
  <div class="flex-container paging-and-search">
    <div class="one-third-width full-height flex-container">
      <mat-paginator #questionPaginator [length]="totalQuestions" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
      </mat-paginator>
    </div>
    <div class="search-box one-third-width full-height flex-container">
      <mat-form-field floatPlaceholder="never">
        <mat-icon mdPrefix class="search-icon">search</mat-icon>
        <input #search matInput placeholder="Search" (keyup.enter)="searchQuestion(search.value)">
      </mat-form-field>
    </div>
  </div>
  <h3 *ngIf="questions && !questions.length">No Questions</h3>
  <mat-list>
    <div *ngFor="let question of questions" (click)="goToQuestionDetails(question)" class="selection">
      <app-question-list-item [question]="question"></app-question-list-item>
    </div>
  </mat-list>
  <button mat-fab class="mat-fab-bottom-right" (click)="goToAddQuestion()">
    <mat-icon>add</mat-icon> 
  </button>
</div>