<nav class="app-nav mat-elevation-z3">
  <img src="../../assets/CoDE-logo.PNG" class="logo"/>
    <button id="assessmentLink" md-button [routerLink]="['/interview/assessments']" [routerLinkActive]="['selected']">Assessments</button>
    <button id="questionsLink" md-button [routerLink]="['/interview/questions']" [routerLinkActive]="['selected']">Questions</button>
    <button md-button id="logoutButton" (click)="logout()">Logout</button>
</nav>
<div class="body-wrapper">
<div class="app-body">
  <router-outlet></router-outlet>
</div>
</div>