@import '~@angular/material/theming';

$nav-bar-height: 2.5em;

.logo {
    height: $nav-bar-height;
    width: auto;
    display: inline-block;
}

$selected-color: mat-color($mat-deep-purple, 50);

.app-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    display: flex;
    z-index: 2;
    background-image: linear-gradient(45deg, #008fca, #ec008b);
    color: white;
    align-content: center;
    height: $nav-bar-height;
}
.body-wrapper {
    padding-top: $nav-bar-height;
    box-sizing: border-box;
    height: 100%;
}
.app-body {
    overflow-y: auto;
    height: 100%; 
}

#logoutButton {
    margin-left: auto;
}

button.selected {
    border-bottom: .321em solid white;
    border-radius: 0;
}