<nav class="app-nav mat-elevation-z3">
  <div class="navigation-content-left">
    <button mat-button id="assessmentLink" class="full-height" [routerLink]="['/interview/assessments']" [routerLinkActive]="['selected']">Assessments</button>
    <button mat-button id="questionsLink" class="full-height" [routerLink]="['/interview/questions']" [routerLinkActive]="['selected']">Questions</button>
    <button mat-button id="usersLink" class="full-height" [routerLink]="['/interview/users']" [routerLinkActive]="['selected']">Users</button>
  </div>
  <img src="../../assets/CoDE-negative-logo.png">   
  <div class="navigation-content-right">
    <button mat-button id="accountButton" class="full-height" [routerLink]="['/interview/account']" [routerLinkActive]="['selected']">Account</button>
    <button mat-button id="logoutButton" class="full-height" (click)="logout()">Logout</button>
  </div>
</nav>
<div class="body-wrapper">
  <div class="app-body">
    <router-outlet></router-outlet>
  </div>
</div>