<form [formGroup]="form" (ngSubmit)="createAssessment()">
    <h1 md-dialog-title>New Assessment</h1>
    <div md-dialog-content>
        <md-input-container>
            <input mdInput name="firstName" placeholder="First Name" formControlName="firstName" required>
        </md-input-container>
        <md-input-container>
            <input mdInput name="lastName" placeholder="Last Name"  formControlName="lastName" required>
        </md-input-container>
        <md-input-container>
            <input mdInput type="email" name="email" placeholder="Email"  formControlName="email" email required>
            <md-error *ngIf="form.controls['email'].hasError('email')">
                Email must be valid
            </md-error>
        </md-input-container>
    </div>
    <div md-dialog-actions>
        <button md-button color="primary" type="submit"  [disabled]="!form.valid">Submit</button>
        <button md-button type="button" md-dialog-close="Cancel">Cancel</button>
    </div>
</form>
