<form [formGroup]="form" (ngSubmit)="createAssessment()">
    <h1 mat-dialog-title>New Assessment</h1>
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput name="firstName" placeholder="First Name" formControlName="firstName" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput name="lastName" placeholder="Last Name"  formControlName="lastName" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="email" name="email" placeholder="Email"  formControlName="email" email required>
            <mat-error *ngIf="form.controls['email'].hasError('email')">
                Must be a valid email address.
            </mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button color="primary" type="submit"  [disabled]="!form.valid">Submit</button>
        <button mat-button type="button" mat-dialog-close="Cancel">Cancel</button>
    </div>
</form>
