.activate-button {
    color: white;
}

.activate-button:hover {
    color: #0E009F;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; 
    cursor: pointer;
}

.activate-container {
    justify-content: center;
}

mat-card {
    display: flex;
    flex-direction: column;
    margin-top: 6.42em;
    background-color: rgba(255, 255, 255, .3);
}
