 <div class="flex-container">
  <div class="left-spacer">
  </div>
  <div class="login-body">
    <mat-card-title class="title-text two-third-width">
      <img src="../../assets/CoDE-negative-logo.png" class="full-width half-height" />
    </mat-card-title>
    <mat-card-content class="full-width">
      <form [formGroup]="form" (ngSubmit)="onSubmitLogin()">
        <div class="spacer">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" required title="Email" formControlName="username">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Password" required title="Password" formControlName="password">
          </mat-form-field>
        </div>
        <div class="centered-button flex-container">
          <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Login</button>
        </div>
      </form>
    </mat-card-content>
  </div>
  <div class="right-spacer">
  </div>
</div>
