<div class="flex-container">
  <div class="logo">
  </div>
  <div class="login-body">
    <md-card-title class="title-text two-third-width">
      <img src="../../assets/CoDE-negative-logo.png" class="full-width half-height" />
    </md-card-title>
    <md-card-content class="full-width">
      <form [formGroup]="form" (ngSubmit)="onSubmitLogin()">
        <div class="spacer">
          <md-input-container class="full-width">
            <input mdInput placeholder="Email" required title="Email" formControlName="username">
          </md-input-container>
          <md-input-container class="full-width">
            <input mdInput type="password" placeholder="Password" required title="Password" formControlName="password">
          </md-input-container>
        </div>
        <div class="centered-button">
          <button md-raised-button color="primary" type="submit" [disabled]="!form.valid">Login</button>
        </div>
      </form>
    </md-card-content>
  </div>
  <div class="right-spacer">
  </div>
</div>