<div class="flex-container-column full-height">
  <div class="flex-container paging-and-search">
    <div class="one-third-width full-height flex-container">
      <mat-paginator #userPaginator [length]="totalUsers" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
      </mat-paginator>
    </div>
    <div class="search-box one-third-width full-height flex-container">
      <mat-form-field floatPlaceholder="never">
        <mat-icon mdPrefix class="search-icon">search</mat-icon>
        <input #search matInput placeholder="Search" (keyup.enter)="searchUser(search.value)">
      </mat-form-field>
    </div>
  </div>
  <h3 *ngIf="users && !users.length">No Users</h3>

  <mat-list class="flex-100">
    <div *ngFor="let user of users">
      <mat-list-item (click)="selectUser(user)" [class.selected]="user === selectedUser">
        <div class="wrapper">
          <div>
            <h4 mat-line>{{user.lastName}}, {{user.firstName}}</h4>
            <p mat-line>{{user.username}}</p>
          </div>
          <div>
            <mat-icon *ngIf="user.locked" class="list-button" color="primary" mdTooltip="Unlock Account" mdTooltipPosition="left" (click)="unlockUser()">lock_open</mat-icon>
            <mat-icon *ngIf="user === selectedUser" class="list-button" color="warn" mdTooltip="Delete Account" mdTooltipPosition="left"
              (click)="deleteUser()">delete</mat-icon>
          </div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </div>
  </mat-list>
</div>