<md-paginator [length]="totalUsers" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
</md-paginator>

<md-list>
  <div *ngFor="let user of users">
    <md-list-item (click)="selectUser(user)" class="list-item" [class.selected]="user === selectedUser">
      <h4 md-line>{{user.firstName}} {{user.lastName}}</h4>
      <p md-line>{{user.username}}</p>
      <button md-raised-button *ngIf="user === selectedUser" (click)="deleteUser()" color="warn">Delete</button>
    </md-list-item>
    <md-divider></md-divider>
  </div>
</md-list>