<md-card>
  <md-card-content>
    <h4>Register</h4>
    <form class="register-form" [formGroup]="form" (ngSubmit)="onSubmitRegister()">
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <md-input-container class="full-width">
              <input mdInput placeholder="First Name" required title="First Name" formControlName="firstName">
            </md-input-container>
          </td>
          <td>
            <md-input-container class="full-width">
              <input mdInput placeholder="Last Name" required title="Last Name" formControlName="lastName">
            </md-input-container>
          </td>
        </tr>
      </table>
      <div>
        <md-input-container class="full-width">
          <input mdInput placeholder="Email" required title="Email Address" formControlName="email">
          <md-error>
            Must have a valid 84.51 email address
          </md-error>
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput type="password" placeholder="Password" required title="Password" formControlName="password">
          <md-error *ngIf="form.controls['password'].hasError('minlength')">
            Password must have at least 8 characters
          </md-error>
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput type="password" placeholder="Confirm Password" required title="Confirm Password" formControlName="confirmPassword">
          <md-error>
            Passwords must match
          </md-error>
        </md-input-container>
      </div>
      <div>
        <button md-button color="primary" type="submit" [disabled]="!form.valid">Register</button>
      </div>
    </form>
  </md-card-content>
</md-card>