<div class="candidate-assessment-wrapper">
  <md-toolbar>
    <h3 class="question-title">{{form.controls['title'].value}}</h3>
    <span class="example-spacer"></span>
    <button md-raised-button color="primary" (click)="submitAnswer()" type="submit" [disabled]="!form.valid">Submit</button>
  </md-toolbar>

  <form id="candidate-form" class="full-height" [formGroup]="form" (ngSubmit)="submitAnswer()">
    <ace-editor id="ace-editor" [mode]="mode" name="answer" formControlName="answer" (keyup)="answerKeystroke()" (paste)="sendPasteEvent()"></ace-editor>
  </form>
</div>