.example-spacer {
  flex: 1 1 auto;
}

.answer-field {
  width: 100%;
  height: 100%;
  resize: none;
}

#answer-container {
  font-size: 10pt;
  width: 100%;
  display: block;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

form {
  width: 80%;
  margin: auto;
  margin-top: 3.21em;
}

#ace-editor {
  min-height: 200px;
}