<form [formGroup]="form" (ngSubmit)="submitQuestion()">

  <div class="flex-container add-delete">
    <button md-raised-button color="primary" type="submit" [disabled]="!form.valid">{{isNew ? 'Add' : 'Save'}}</button>
    <button md-raised-button color="warn" type="button" *ngIf="!isNew" (click)="deleteQuestion()">Delete</button>
    <button md-raised-button color="warn" type="button" *ngIf="isNew" (click)="navigateBack()">Cancel</button>
  </div>

  <div class="question-content-container flex-container">

    <div class="question-data flex-container">
      <md-input-container class="question-title">
        <input mdInput placeholder="Question Title" name="title" formControlName="title" required>
      </md-input-container>

      <md-input-container class="editor-container">
        <textarea mdInput class="question-body editor" placeholder="Question Body" name="body" formControlName="body" required></textarea>
      </md-input-container>

      <md-input-container class="editor-container">
        <textarea mdInput class="question-suggested-answer editor" placeholder="Suggested Answer" name="suggestedAnswer" formControlName="suggestedAnswer"></textarea>
      </md-input-container>
    </div>

    <md-card class="question-metadata">
      <md-card-title>
        Question Details
      </md-card-title>
      <md-card-content>
        <md-list>
          <md-list-item>
            <md-input-container>
              <input mdInput placeholder="Difficulty" type="number" min="1" max="5" name="difficulty" formControlName="difficulty" required>
              <md-error>
                Choose a difficulty between 1-5
              </md-error>
            </md-input-container>
          </md-list-item>
          <md-list-item>
            <h4 md-line>Modified by</h4>
            <p md-line>{{form.controls['modifiedBy'].value}}</p>
          </md-list-item>
          <md-list-item>
            <h4 md-line>Modified on</h4>
            <p md-line>{{form.controls['modifiedDate'].value | date: "medium"}}</p>
          </md-list-item>
          <md-list-item>
            <h4 md-line>Created by</h4>
            <p md-line>{{form.controls['createdBy'].value}}</p>
          </md-list-item>
          <md-list-item>
            <h4 md-line>Created on</h4>
            <p md-line>{{form.controls['createdDate'].value | date: "medium"}}</p>
          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>

  </div>

</form>