.logo {
    height: 36px;
    width: auto;
    display: inline-block;
}

.app-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    display: flex;
    z-index: 2;
    background: white;
    align-content: center;
}

.app-body {
    margin-top: 50px;
}

#logoutButton {
    margin-left: auto;
}