.completed-label {
  font-size: .9em;
  display: flex;
  justify-content: center;
  align-content: center;
}

.flex {
  flex: 1 1 auto;
}

.icon-button {
  align-self: center;
  color: #717171;
}

.icon-button:hover {
  color: #EF1E74;
}

.info {
  flex-basis:45%;
}

.list-item-left {
  display: flex;
  align-items: center;
  flex-basis:50%;
}

mat-list {
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
