.completed-label {
  font-size: .9em;
  display: flex;
  justify-content: center;
  align-content: center;
}

.flex {
  flex: 1 1 auto;
}

.info {
  flex-basis:45%;
}

.list-item-left {
  display: flex;
  align-items: center;
  flex-basis:50%;
}

md-list {
  padding: 0;
}

.resume-assessment-button:hover {
  color: #ff00b6;
}

.start-assessment-button:hover {
  color: #02aaff;
}

.view-assessment-button:hover {
  color: yellow;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
