<h3 *ngIf="assessments && !assessments.length">No Assessments</h3>
<md-list>
  <div *ngFor="let assessment of assessments">
    <md-list-item class="assessment" [class.selected]="assessment === selectedAssessment" (click)="selectAssessment(assessment)">
      <div class="wrapper">
      <div class="info">
        <h4 md-line>{{assessment.firstName}} {{assessment.lastName}}</h4>
        <p md-line>{{assessment.email}}</p>
      </div>
      <p *ngIf="assessment.state === assessmentStates.CLOSED" class="completed-label">Completed on {{assessment.modifiedDate | date: "short"}}</p>
      <button md-raised-button *ngIf="assessment.state === assessmentStates.IN_PROGRESS || assessment.state === assessmentStates.NOTES" class="assessment-button" type="button" color="warn" (click)="resumeAssessment(assessment)">Resume assessment</button>
      <button md-raised-button *ngIf="assessment === selectedAssessment && selectedAssessment.state === assessmentStates.NOT_STARTED" class="assessment-button" type="button" color="accent" (click)="startAssessment()">Start assessment</button>
      </div>
    </md-list-item>
    <md-divider></md-divider>
  </div>
</md-list>

<md-paginator [length]="totalAssessments"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = $event">
</md-paginator>

<button md-fab class="md-fab-bottom-right" color="primary" (click)="createAssessment()">
  <md-icon>add</md-icon>
</button>