.assessment-button {
  margin-left: 5em;
  width: 11.25em;
  position: relative;
  right: 0px;
}

.completed-label {
  font-size: .9em;
  display: flex;
  justify-content: center;
  align-content: center;
}

.flex {
  flex: 1 1 auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

md-list {
  padding: 0;
}

.flex-container {
  justify-content: space-between;
  background-color: #f7f7f7;
}

star-rating-comp {
   justify-self: flex-start;
 }

.list-item-left {
  display: flex;
  align-items: center;
  flex-basis:50%;
}

.info {
  flex-basis:45%;
}
