.assessment-button {
  margin-left: 5em;
  width: 11.25em;
}

.completed-label {
  font-size: .9em;
}

.flex {
  flex: 1 1 auto;
}

.info {
      width: 85%;
}

.selected {
  color: #607D88;
  background-color: #DDD;
  left: .1em;
}

.assessment:hover {
  cursor: pointer;
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

md-list {
  padding: 0;
  margin-bottom: 4em;
}