<md-card *ngIf="form">
  <div class="flex-container">
    <div class="left-spacer">
    </div>
    <div class="login-body">
      <md-card-title class="title-text two-third-width">
        <h2>Forgot Password</h2>
      </md-card-title>
      <md-card-content class="full-width">
        <form [formGroup]="form" (ngSubmit)="onSubmitForgotPassword()">
          <div class="spacer">
            <md-input-container class="full-width">
              <input mdInput placeholder="Email" required title="Email" formControlName="username">
            </md-input-container>
            <div *ngIf="guid">
              <md-input-container class="full-width">
                <input mdInput type="text" placeholder="First Name" required title="First Name" formControlName="firstName">
              </md-input-container>
              <md-input-container class="full-width">
                <input mdInput type="text" placeholder="Last Name" required title="Last Name" formControlName="lastName">
              </md-input-container>
              <md-input-container class="full-width">
                <input mdInput type="password" placeholder="Password" required title="Password" formControlName="newPassword">
              </md-input-container>
              <md-input-container class="full-width">
                <input mdInput name="confirmNewPassword" type="password" placeholder="Confirm Password" required title="Confirm New Password" formControlName="confirmNewPassword">
              </md-input-container>
            </div>
          </div>
          <div class="centered-button flex-container">
            <button md-raised-button color="primary" type="submit" [disabled]="!form.valid">Reset Password</button>
          </div>
        </form>
      </md-card-content>
    </div>
    <div class="right-spacer">
    </div>
  </div>
</md-card>
