<div class="flex-container forgot-password-wrapper">
  <md-card *ngIf="form" class="forgot-password-card">
    <md-card-title class="title">
      Forgot Password
    </md-card-title>
    <md-card-content>
      <form [formGroup]="form" class="flex-container-column" (ngSubmit)="onSubmitForgotPassword()">
        <md-input-container>
          <input mdInput placeholder="Email" required title="Email" formControlName="username">
        </md-input-container>
        <div *ngIf="guid" class="flex-container-column">
          <md-input-container>
            <input mdInput type="password" placeholder="Password" required title="Password" formControlName="newPassword">
          </md-input-container>
          <md-input-container>
            <input mdInput name="confirmNewPassword" type="password" placeholder="Confirm Password" required title="Confirm New Password"
              formControlName="confirmNewPassword">
          </md-input-container>
        </div>
        <button md-raised-button color="primary" type="submit" [disabled]="!form.valid">Reset Password</button>
      </form>
    </md-card-content>
  </md-card>
</div>