@import '~@angular/material/theming';
@include mat-core();

$unicorn-light-app-primary: mat-palette($mat-pink, 900, A100, 900);
// #8bc34a
// #B2FF59
// #558B2F
$unicorn-light-app-secondary: mat-palette($mat-lime, 600, A100, 800);
// #00bcd4
// #18FFFF
// #00838F
$unicorn-light-app-warn: mat-palette($mat-red);

$unicorn-light-theme: mat-light-theme($unicorn-light-app-primary, $unicorn-light-app-secondary, $unicorn-light-app-warn);

@include angular-material-theme($unicorn-light-theme);