<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="Arr-Disable-Session-Affinity" value="true"/>
        <add name="Access-Control-Allow-Credentials" value="true" />
        <add name="Access-Control-Allow-Methods" value="POST,OPTIONS,GET,PUT" />
        <add name="Access-Control-Allow-Headers" value="Cache-Control,Pragma,Origin,Authorization,Content-Type,DNT,X-Requested-With,Accept,Accept-Language,Accept-Encoding" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
          <rule name="Backend" enabled="true" stopProcessing="true">
          <match url="api/v1/(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_URI}" pattern="api/v1/(.*)" />
          </conditions>
          <action type="Rewrite" url="http://code-bff.azurewebsites.net/api/v1/{R:1}" logRewrittenUrl="true" />
        </rule>
        <rule name="AngularJS Routes" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^api" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" logRewrittenUrl="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>