<div class="component-wrapper">
  <mat-card [@flip]="loginFacing" class="centered-card">
    <div class="flex-container-column login-component">
      <app-login></app-login>
      <mat-card-actions>
        <div class="gateway-buttons">
          <a routerLink="/forgot-password">forgot password?</a>
        </div>
        <div class="gateway-buttons">
          or  <label (click)="toggleComponent()">register</label>
        </div>
      </mat-card-actions>
    </div>
  </mat-card>
  <mat-card [@flip]="registerFacing" class="centered-card">
    <div class="flex-container-column">
      <app-register></app-register>
      <mat-card-actions>
        <div class="gateway-buttons">
          or  <label (click)="toggleComponent()">login</label>
        </div>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
