.centered-button {
    text-align: center;
}

h4 {
    text-align: center;
    color: white;
}

.centered-card {
    width: 33%;
    margin: auto;
    margin-top: 3.21em;
    background-color: rgba(164, 151, 141, .3);
}

.spacer {
    margin-top: .64em;
    text-align: center;
}