.centered-button {
    text-align: center;
}

h4 {
    text-align: center;
}

.centered-card {
    width: 33%;
    margin: auto;
    margin-top: 3.21em;
}

.spacer {
    margin-top: .64em;
    text-align: center;
}