<mat-card id="register-card" mat-raised-card class="centered-card">
  <mat-card-title class="card-title">Account Information</mat-card-title>
  <mat-card-content>
    <form class="register-form" [formGroup]="form" (ngSubmit)="onSubmitUpdate()">
      <div class="spacer">
        <mat-form-field class="full-width">
          <input matInput placeholder="First Name" required title="First Name" formControlName="firstName">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Last Name" required title="Last Name" formControlName="lastName">
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" required title="Email Address" formControlName="username">
          <mat-error>
            Must have a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="canChangePassword" class="full-width">
          <input matInput type="password" placeholder="Current Password" required title="Current Password" formControlName="currentPassword">
        </mat-form-field>
        <mat-form-field *ngIf="canChangePassword" class="full-width">
          <input matInput type="password" placeholder="New Password" required title="New Password" formControlName="newPassword">
          <mat-error *ngIf="form.controls['newPassword'].hasError('minlength')">
            Password must have at least 8 characters
          </mat-error>
          <mat-error *ngIf="form.controls['newPassword'].hasError('passwordValid')">
            Password must contain at least 3 of uppercase, lowercase, punctuation, or numbers
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="canChangePassword" class="full-width">
          <input matInput type="password" placeholder="Re-Type New Password" required title="Confirm Password" formControlName="confirmPassword">
          <mat-error *ngIf="form.controls['confirmPassword'].hasError('sameValue')">
            Passwords must match
          </mat-error>
        </mat-form-field>
      </div>
      <div class="centered-button">
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Update</button>
        <button *ngIf="!canChangePassword" mat-raised-button type="button" (click)="changePassword()">Change password</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>