<h3 *ngIf="!assessment">Assessment not found</h3>
<div *ngIf="assessment" class="assessment-container flex-container">
  <div class="candidate-details flex-container">
    <md-card>
      <md-card-title>
        <div class="flex-container">
          <div>{{assessment.firstName}} {{assessment.lastName}}</div>
          <star-rating-comp starType="svg" [rating]="assessment.rating" (onRatingChange)="onRatingChange($event)"></star-rating-comp>
        </div>
      </md-card-title>
      <md-card-subtitle>
        {{assessment.email}}
      </md-card-subtitle>
      <md-card-content>

        <h3>Notes</h3>
        <md-input-container class="notes-input-container">
          <textarea mdInput [(ngModel)]="assessment.notes" class="notes-textarea"></textarea>
        </md-input-container>
      </md-card-content>
      <md-card-actions>
        <button md-button color="primary" type="submit" (click)="saveAssessment()">Save</button>
      </md-card-actions>
    </md-card>
  </div>
  <div class="assessment-question-answers">
    <md-accordion *ngIf="assessment" [displayMode]="displayMode" [multi]="multi" class="question-answer-accordion">
      <md-expansion-panel *ngFor="let questionAnswer of filteredQuestionAnswers | async; let isFirst = first" [expanded]="isFirst"
        class="question-answer-panel">
        <md-expansion-panel-header class="flex-container">{{questionAnswer.title}}
          <app-language-chip [language]="questionAnswer.language"></app-language-chip>
        </md-expansion-panel-header>
        <h5>Question</h5>
        <ace-editor class="editor question-border" [theme]="'sqlserver'" [(text)]="questionAnswer.body" [mode]="getMode(questionAnswer.language)"
          [options]="editorOptions" [readOnly]="true"></ace-editor>
        <h5>Answer</h5>
        <ace-editor class="editor answer-border" [theme]="'sqlserver'" [(text)]="questionAnswer.answer" [mode]="getMode(questionAnswer.language)"
          [options]="editorOptions" [readOnly]="true"></ace-editor>
      </md-expansion-panel>
    </md-accordion>
  </div>
</div>
